*{
  padding: 0px;
  margin: 0px;
}

body, html{
  max-height: 100%;
  max-width: 100%;
  background-color: #d1cfb1;
  color: #485e74;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navbar-clr{
  background-color: dimgray;
  color: rgb(234, 217, 194);
}
.toggler-clr{
  background-color: black;
  color: bisque;
}

.navbar-clr .navbar-brand{
  color: bisque;
}

.navbar-nav .nav-item .nav-link{
  color: beige;
}