*{
  padding: 0px;
  margin: 0px;
}

body, html{
  max-height: 100%;
  max-width: 100%;
  background-color: #d1cfb1;
  color: #485e74;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .navbar-clr{
  background-color: rgb(104, 106, 106);
  color: rgb(194, 215, 234);
} */

/* .navbar-brand-clr{
  color: tomato;
} */

.header-bg-clr{
  /* background-color: rgb(110, 93, 54);    b */
  background-color: rgb(8, 101, 134);  
}

.navbar-clr .navbar-brand{
  color: bisque;
}

.navbar-nav .nav-item .nav-link{
  color: beige;
}